{% extends "miapp/index.html" %}

{% block pagina %}
        <title>PokeMarket : Camisetas</title>
{% endblock pagina %}


{% block titulo %}
 <h1 class="fw-bolder">Camisetas</h1>
 <a class="btn btn-lg btn-light" href="#about">Comienza a Bajar!</a>
{% endblock titulo %}

{% block contenido %}
 <h1> Camisetas Disponibles : </h1>

 <table>
<tr>
    
    <td>
        <a
        href="{% url 'camiseta_create' %}"
        class="btn btn-primary btn-sm"
        ><i class="fa fa-plus fa-lg" title="Crear"></i>
        </a>
    </td>
 </table>   
 
 <table class="table table-striped">
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>
            <th> Color </th>
            <th> Forma </th>
            <th> Precio_USD </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
    {% for c in camisetas %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>   
            <td>{{ c.color }}</td> 
            <td>{{ c.forma }}</td> 
            <td>{{ c.precio_USD }}</td> 

            <td>
                <a
                  href="{% url 'camiseta_update' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'camiseta_delete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>               
        </tr>
    {% endfor %}   
    </tbody>
 </table>            
{% endblock contenido %}